<div class='course-form'>
  <form {{action 'saveCourse' on='submit'}}>
    <div class='course-form-input'>
      {{input
        type='text'
        pattern='.{3,120}'
        required=true
        placeholder='Title'
        value=title}}
    </div>

    <div class='course-form-input'>
      {{textarea
        required=true
        placeholder='Summary'
        value=summary}}
    </div>
    <div class='course-units'>
      {{#if course.id}}
        {{#link-to 'units.new' course.id}}
          <h3>New Unit</h3>
        {{/link-to}}
        <ol>
          {{#each course.units as |unit|}}
            <li>unit.title</li>
          {{/each}}
        </ol>
      {{/if}}
    </div>
    <div class='course-form-input'>
      <button type='submit'>Save</button>
    </div>
    {{#link-to 'admin'}}
      <h3>Go Back</h3>
    {{/link-to}}
  </form>
</div>
