<header class='nav-header'>
  <div class='main-logo'>
    {{#link-to 'home'}}
      {{inline-svg 'svg/main-logo'}}
    {{/link-to}}
  </div>
  <div class='user-login'>
    {{#if currentUser}}
      <button {{action 'invalidateSession'}}>Logout</button>
    {{else}}
      <div class='login-button'>
        {{#link-to 'login'}}login{{/link-to}}
      </div>
    {{/if}}
  </div>
</header>
