<header class='nav-header'>
  <div class='main-logo'>
    {{#link-to 'home'}}
      <h1>Alex Beeken</h1>
    {{/link-to}}
  </div>
  <div class='user-login'>
    {{#if currentUser}}
      <button {{action 'invalidateSession'}}>Logout</button>
    {{else}}
      <!-- {{#link-to 'login'}}login{{/link-to}} -->
    {{/if}}
  </div>
</header>
