<header class='nav-header'>
  <div class='main-logo'>
    {{#link-to 'index'}}
      {{inline-svg 'svg/main-logo'}}
    {{/link-to}}
  </div>
  <div class='menu-toggle'>
    <a href="# "{{action 'toggleMenu'}} preventDefault=true>{{fa-icon 'bars'}}</a>
  </div>
</header>
