<header class='main-logo'>
  {{inline-svg "svg/bannerlogo"}}
</header>

<ul>
  <li>
    {{#link-to 'news'}}news{{/link-to}}
  </li>
  <li>
    {{#if currentUser}}
      <button {{action 'invalidateSession'}}>Logout</button>
    {{else}}
      {{#link-to 'login'}}login{{/link-to}}
    {{/if}}
  </li>
</ul>
