<header class='nav-header'>
  <div class='main-logo'>
    {{#link-to 'index'}}
      Main Logo
    {{/link-to}}
  </div>
  <div class='menu-toggle'>
    <a href="# "{{action 'toggleMenu' 'left'}} preventDefault=true>{{fa-icon 'bars'}}</a>
  </div>
</header>
