<div class='course-unit'>
  {{unit.title}}
  <div class='lessons'>
    <ul>
      {{#each sortedUnitItems as |item|}}
        <li>
          {{item.title}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
