.title, .support-message, .support-explanation, .feed {
  font-family: 'Oswald';
}

.about-title {
  font-size: $title-medium;
  font-weight: bold;
}

.about {
  padding: $padding;
  .about-titles {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
