.conferences {
  height: 50vh;
  .conferences-row {
    padding: $padding;
    .pictures {
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      .conf-icon {
        width: 20em;
        .ember-conf, .ruby-on-ales, .ml-conf {
          height: 10.5em;
        }
        .ruby-on-ales img {
          margin-top: 1.6em;
        }
        .ml-conf img {
          margin-top: 2.2em;
        }
        img {
          width: 15em;
        }
      }
      .conf-note {
        animation: fadeIn 0.7s 1 alternate;
        -webkit-animation: fadeIn 0.7s 1 alternate;
        font-size: 1em;
      }
    }
    .activity-note {
      height: 80%;
    }
  }
}

.monolake-link {
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
  .see-more {
    animation: bounceIn 0.5s infinite alternate;
    -webkit-animation: bounceIn 0.5s infinite alternate;
  }
  a {
    color: black;
    text-decoration: none;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(1.0);
  }
  10% {
    transform: scale(1.01);
  }
  20% {
    transform: scale(1.03);
  }
  30% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1.07);
  }
  50% {
    transform: scale(1.09);
  }
  60% {
    transform: scale(1.11);
  }
  70% {
    transform: scale(1.13);
  }
  80% {
    transform: scale(1.15);
  }
  90% {
    transform: scale(1.17);
  }
  100% {
    transform: scale(1.19);
  }
}

.mono-lake-store {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  text-align: center;
  height: 20em;
  .description {
    animation: fadeIn 0.7s 1 alternate;
    -webkit-animation: fadeIn 0.7s 1 alternate;
    font-size: 1.5em;
    padding-top: 2em;
    width: 30em;
  }
  img {
    width: 25em;
  }
}

.mrbeeken {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  text-align: center;
  height: 20em;
  .description {
    animation: fadeIn 0.7s 1 alternate;
    -webkit-animation: fadeIn 0.7s 1 alternate;
    font-size: 1.5em;
    padding-top: 2em;
    width: 30em;
  }
  .pictures {
    width: 25em;
    display: flex;
    justify-content: center;
    img {
      width: 20em;
    }
  }
}
