@import 'variables.scss';
@import 'fonts.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'nav-menu.scss';
@import 'nav-header.scss';
@import 'posts/new.scss';
@import 'posts/index.scss';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "experience";
@import "education";
@import "activities";

body {
  margin: 0px;
}

.body-space {
  display: flex;
  justify-content: space-between;
  .main-content {
    width: 100%;
  }
}

.generic-section {
  .generic-title {
    text-align: center;
    font-size: 0.8em;
    color: $gray;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    .hidden, .surprise {
      opacity: 0;
    }
  }
  &:hover {
    .generic-title {
      .surprise {
        opacity: 1.0;
      }
    }
  }
}
