@import 'variables.scss';
@import 'admin.scss';
@import 'boxes.scss';
@import 'buttons.scss';
@import 'dashboard.scss';
@import 'fonts.scss';
@import 'index.scss';
@import 'login.scss';
@import 'register.scss';
@import 'flash.scss';
@import 'nav-menu.scss';
@import 'nav-header.scss';
@import 'courses/show.scss';
@import 'courses/form.scss';
@import 'courses/index.scss';
@import 'units/form.scss';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

body {
  margin: 0px;
  background-color: $background-color;
}

.body-space {
  display: flex;
  justify-content: space-between;
  .main-content {
    margin-top: 55px;
    width: 100%;
  }
}
