$border-thickness: 0px;
$border-color: $gray;
$border-radius: 5px;
$border: $border-thickness solid $border-color;

$thick-border-thickness: 0.5px;
$thick-border-color: $gray;
$thick-border-radius: 10px;
$thick-border: $thick-border-thickness solid $thick-border-color;

$shadow-color: $gray;

$shadow: 0.03em 0.03em $gray;
$hover-shadow: 0.03em 0.03em 0.03em 0.03em $gray;
$active-shadow: 0.02em 0.02em 0.02em 0.02em $gray;

.box {
  padding: $padding;
  box-shadow: $shadow;
  background-color: white;
  border-radius: $border-radius;
}

.hover {
  &:hover {
    box-shadow: $hover-shadow;
  }
  &:active {
    box-shadow: $active-shadow;
  }
}

.border-box {
  background-color: white;
  padding: $padding;
  border: $thick-border;
  border-radius: $thick-border-radius;
}

.tooltip {
  width: 250px;
  height: 100px;
  margin-left: -40px;
  position: absolute;
  bottom: 35px;
  animation: 0.1s linear 0s 1 slideInFromBottom;
  z-index: -10;
}
