.experience-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1em;
  .experience-title {
    font-size: 0.8em;
    color: $gray;
    animation: fadeIn 0.7s 1 alternate;
    -webkit-animation: fadeIn 0.7s 1 alternate;
  }
  .proficients, .workedWiths, .tinkereds {
    width: 100%;
    padding: $padding;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .proficient {
      margin: 0px 2vw;
      width: 11vw;
      .ruby {
        animation: fromRight 1s 1;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .rails {
        animation: fromRight 1s 1;
        animation-delay: 0.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .ember {
        animation: fromRight 1s 1;
        animation-delay: 0.4s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .javascript {
        animation: fromRight 1s 1;
        animation-delay: 0.6s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .postgres {
        animation: fromRight 1s 1;
        animation-delay: 0.8s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }
    .workedWith {
      margin: 0px 2vw;
      width: 9vw;
      .handlebars {
        animation: fromRight 1s 1;
        animation-delay: 1.6s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .sass {
        animation: fromRight 1s 1;
        animation-delay: 1.8s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .redis {
        animation: fromRight 1s 1;
        animation-delay: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .nginx {
        animation: fromRight 1s 1;
        animation-delay: 2.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .linux {
        animation: fromRight 1s 1;
        animation-delay: 2.4s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .php {
        animation: fromRight 1s 1;
        animation-delay: 2.6s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }
    .tinkered {
      margin: 0px 2vw;
      width: 6vw;
      img {
        margin-top: 2vw;
        width: 6vw;
      }
      .react {
        animation: fromRight 1s 1;
        animation-delay: 3.4s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .c {
        animation: fromRight 1s 1;
        animation-delay: 3.6s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .python {
        animation: fromRight 1s 1;
        animation-delay: 3.8s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .mysql {
        animation: fromRight 1s 1;
        animation-delay: 4s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .elixir {
        animation: fromRight 1s 1;
        animation-delay: 4.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      .phoenix {
        animation: fromRight 1s 1;
        animation-delay: 4.4s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(1200px);
  }
}
