.alert {
  text-align: center;
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  height: 30px;
  &.alert-success {
    background-color: $flash-success-color;
  }
  &.alert-danger {
    background-color: $flash-danger-color;
  }
  &.alert-info {
    background-color: $flash-info-color;
  }
}
