@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Meera Inimai';
  src: url('fonts/Meera_Inimai/MeeraInimai-Regular.ttf') format('truetype');
}
