.show-menu {
  width: 120px;
  position: fixed;
  z-index: 999;
  button {
    font-size: 13px;
    border-radius: 2px;
    width: 3em;
    height: 3em;
    text-align: center;
    background-color: white;
    border: 1px 1px solid $light-border;
    box-shadow: none;
  }
}

.main-nav {
  background-color: white;
  border: 0.02vw solid gray;
  border-right: 0.2vw solid gray;
  color: black;
  font-family: 'Oswald';
  height: 100vh;
  .menu-header {
    height: 2.5em;
    border-bottom: 0.01em solid $light-border;
    width: 100%;
    .menu-title {
      width: 50%;
      float: left;
      font-size: 1.5em;
    }

    .dismiss-menu {
      width: 50%;
      float: right;
      button {
        float: right;
        font-size: 1em;
        border-radius: 2px;
        width: 2em;
        height: 2em;
        text-align: center;
        background-color: white;
        border: 1px 1px solid $light-border;
        box-shadow: none;
      }
    }
  }

  li a {
    color: #000;
  }

  .nav-link {
    float: left;
    height: 2.3em;
    width: 100%;
    border-bottom: 0.01em solid $light-border;
    .nav-link-icon {
      margin-left: 0.2em;
      font-size: $nav-font-size;
      float: left;
      width: 1.5em;
    }
    .nav-link-text {
      font-size: $nav-font-size;
      float: left;
    }
    &:hover {
      background-color: $highlight-background;
    }
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .active {
    background-color: $highlight-background;
  }
}
