.nav-header {
  background-color: #abcfe7;
  border: 0.02vw solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 10vh;
  min-height: 50px;
  .main-logo {
    svg {
      width: 15em;
    }
  }
  .user-login {
    border: 1px 1px solid black;
    padding-top: 1em;
    a {
      padding-right: 1em;
      float: right;
      color: #000;
      font-family: 'Oswald';
      text-decoration: none;
    }
    font-size: 1em;
    width: 20vw;
  }
}
