.nav-header {
  background-color: #abcfe7;
  border: 0.02vw solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 15;
  .main-logo {
    svg {
      width: 15em;
    }
  }
  .menu-toggle {
    float: right;
    font-family: 'Oswald';
    font-size: 1.2em;
    text-align: center;
    display: flex;
    margin-bottom: 0.2em;
    margin-right: 0.6em;
    a {
      margin: auto;
      text-decoration: none;
      color: black;
      height: 40px;
      width: 40px;
      font-size: 1.5em;
      &:active {
        animation:         boop 0.1s;
        -webkit-animation: boop 0.1s;
        -moz-animation:    boop 0.1s;
        -o-animation:      boop 0.1s;
      }
    }
  }
}

@-webkit-keyframes boop {
  0%   { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
}
@-moz-keyframes boop {
  0%   { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
}
@-o-keyframes boop {
  0%   { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
}
@keyframes boop {
  0%   { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
}
