.projects {
  padding: $padding;
  .selected-project {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    .left {
      svg {
        width: 20em;
      }
      text-align: center;
    }
    .right {
    }
    width: 100%;
  }
  .project-menu {
    display: flex;
    justify-content: flex-start;
  }
}
