$gray: #969696;
$yellow: yellow;
$green: #4CAF50;
$light-border: #a5a5a5;
$highlight-background: #d6d6d6;
$positive-green: #6fdd0f;
$flash-success-color: #4ec457;
$flash-danger-color: #af3f3a;
$flash-info-color: #4ec457;

$padding: 1vw;

$background-color: #f9f9f9;

$nav-font-size: 1.2em;
$summary-box-size: 3em;

$large-margin: 20px;
$general-margin: 10px;
$small-margin: 6px;

$title-small: 18px;
$title-medium: 25px;
$title-large: 40px;

$font-small: 14px;
$font-medium: 16px;

$font1: 'Merriweather';
