<section id="conference" class='generic-section'>
  <div class='generic-title'>
    <h2>Conference Volunteering</h2>
  </div>
  <div class='conferences'>
    <div class='conferences-row'>
      <div class='pictures'>
        <div class='conf-icon'>
          <div class='ember-conf'>
            {{experience-icon path='/png/emberconf.png'}}
          </div>
          <div class='conf-note'>
            2016 & 2017
          </div>
        </div>
        <div class='conf-icon'>
          <div class='ruby-on-ales'>
            {{experience-icon path='/png/rubyonales.png'}}
          </div>
          <div class='conf-note'>
            2015
          </div>
        </div>
        <div class='conf-icon'>
          <div class='ml-conf'>
            {{experience-icon path='/png/mlconf.png'}}
          </div>
          <div class='conf-note'>
            Seattle 2016
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='monolake-link'>
    <div class='see-more'>
      {{#link-to 'activities.monolake'}}
        See More {{fa-icon 'arrow-down'}}
      {{/link-to}}
    </div>
  </div>
</section>
