<section id='monolake' class='generic-section'>
  <div class='generic-title'>
    <h2>Mr. Beeken</h2>
  </div>
  <div class='mrbeeken'>
    <div class='description'>
      <p>
         Mr. Beeken is a Youtube channel with funny music lessons for kids.
      </p>
      <p>
         If you have a young rock star in your life, they might enjoy these!
      </p>
    </div>
    <div class='pictures'>
      <a href='https://www.mrbeeken.com'>
        <img src='/mrbeeken.jpg' title='mrbeeken.com'>
      </a>
    </div>
  </div>
  <div class='monolake-link'>
    {{#link-to 'activities.monolake'}}
      Go Back {{fa-icon 'arrow-up'}}
    {{/link-to}}
  </div>
</section>
