{{#if noCurrentUser}}
  <div class='logged-out-message'>
    {{#link-to 'login'}}
      <u>Sign up</u> or <u>Login</u> to take this course.
    {{/link-to}}
  </div>
{{/if}}
<section class='course-show'>
  <div class='course-show-title'>
    {{model.title}}
    <hr>
  </div>
  <div class='course-show-subtitle'>
    Summary
  </div>
  <div class='course-show-summary'>
    {{model.summary}}
    <hr>
  </div>
  <div class='course-show-subtitle'>
    Outline
  </div>
  <div class='course-show-outline'>
    <ul>
      {{#each sortedUnits as |unit|}}
        <li>
          {{unit-preview unit=unit}}
        </li>
      {{/each}}
    </ul>
  </div>
  {{#if showEnrollButton}}
    <div class='positive-large-button'>
      <button {{action 'enroll'}}>
        ENROLL
      </button>
    </div>
  {{/if}}
</section>
