.news-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .news-form-input {
    text-align: center;
    margin: 1em;
    input, textarea {
      width: 80%;
    }
    textarea {
      height: 20em;
    }
    button {
      font-size: 1em;
      width: 10em;
      height: 3em;
      border-radius: 2em;
      background-color: green;
      font-weight: bold;
    }
  }
}
