{{#link-to 'course.index' enrollment.course.id}}
  <div class='border-box hover dash-my-course'>
    <div class='my-course-title'>
        {{enrollment.course.title}}
    </div>
    <div class='my-course-start-time'>
      enrolled on {{formattedStartTime}}
    </div>
    <div class='my-course-percentage'>
      {{percentageComplete}}% complete
    </div>
  </div>
{{/link-to}}
