.courses-title {
  font-size: 2em;
  font-family: $font1;
}
.courses-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $general-margin;
  a {
    width: 93%;
    margin: $general-margin;
    text-decoration: none;
  }
}
.course-preview {
  height: 120px;
  background-color: white;
  hr {
    margin: $small-margin;
    color: $gray;
  }
  .course-preview-title {
    color: black;
    font-family: $font1;
    font-size: $title-medium;
    padding-top: $padding;
    padding-left: $padding;
    max-height: 100px;
  }
  .course-preview-summary {
    color: black;
    font-size: $font-small;
    padding-left: $padding;
    word-wrap: normal;
  }
  a:-webkit-any-link {
    color: black;
  }
}
