.courses-title {
  font-size: 2em;
  font-family: $font1;
}
.courses-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $general-margin;
  a {
    width: 93%;
    max-width: 400px;
    margin: $general-margin;
    text-decoration: none;
  }
}
.course-preview {
  border: $border-thickness solid $border-color;
  border-radius: 10px;
  height: 300px;
  hr {
    margin: $small-margin;
    color: $gray;
  }
  .course-preview-title {
    color: black;
    font-family: $font1;
    font-size: 1.5em;
    padding: $padding;
    max-height: 100px;
  }
  .course-preview-summary {
    color: black;
    font-size: 1em;
    padding: $padding;
    word-wrap: normal;
  }
  &:hover {
    box-shadow: $medium-box-shadow;
  }
  &:active {
    box-shadow: 0.02em 0.02em 0.02em 0.02em $gray;
  }
  a:-webkit-any-link {
    color: black;
  }
}
