.logged-out-message {
  width: 100%;
  a {
    text-decoration: none;
    color: black;
  }
  position: fixed;
  width: 100%;
  opacity: 0.89;
  align-items: center;
  background: $positive-green;
  display: flex;
  height: 2em;
  justify-content: space-between;
  padding-left: 1em;
}

.enroll-button {
  text-align: center;
  margin: $general-margin;
  button {
    font-size: $font-medium;
    background-color: $green;
    border-radius: $border-radius;
    box-shadow: none;
    border: none;
    width: 100px;
    height: 50px;
  }
}

.course-show {
  margin-right: $general-margin;
  margin-right: $general-margin;
  hr {
    margin: $small-margin;
  }
  .course-show-title {
    text-align: center;
    font-size: $title-large;
    width: 100%;
    margin-top: $large-margin;
  }
  .course-show-subtitle {
    text-align: center;
    font-size: $title-small;
    font-weight: bold;
    margin: $small-margin;
  }
  .course-show-summary {
    font-size: $font-medium;
  }
  .course-show-structure {
    width: 100%;
    .course-unit {
      text-align: left;
    }
  }
}
