<h1> News page </h1>

<section class='page-header'>
  <section class='page-title'>
    {{#if featured }}
      <h1>Featured Post</h1>
    {{/if}}
  </section>
</section>

<section class='feed'>
  {{#each posts as |post|}}
    {{post-preview post=post}}
  {{/each}}
</section>
