<header class='courses-title'>
  Courses
</header>
<section class='courses-feed'>
  {{#each courses as |course|}}
    <article class='course-preview'>
      {{#link-to "course" course.id}}
        <div class='course-preview-title'>
          {{course.title}}
        </div>
        <hr>
        <div class='course-preview-summary'>
          {{course.summary}}
        </div>
      {{/link-to}}
    </article>
  {{/each}}
</section>
