<div class='unit-form-course-title'>
  <h3>Editing Unit {{course.title}} > {{model.title}}</h3>
</div>
{{unit-form unit=model doneSaving='doneSaving'}}
{{#link-to 'course.edit' course.id}}
  <h3>Go Back</h3>
{{/link-to}}
