<section class='welcome message'>
  <header class='mission-statement'>
    <h2>making music literacy <em>fun</em>!</h2>
  </header>
  <article class='text'>
    <p>
      This project's philosophy is in line with Music Matters by Dave Elliot and believes in the Kodaly method.
    </p>
    <p>
      Music making gives us enjoyment, self growth and self knowledge. I believe that music education
      is part of a well rounded education and a fulfilling life.
    </p>
    <p>
      Musicianship is a multidimensional form of knowledge that is practice-specific and seated within several
      contexts: global, historical, cultural, social, individual, etc.
    </p>
    <p>
      Mr. Beeken hopes to deliver <strong>formal knowledge</strong> in a fun and accessible format.
      It also hopes to inspire curiosity and critical thinking from the viewer. At the same time,
      I hope to emphasize that music theory <strong>helps</strong> you interact with the world of music.
      It is not a secret code that is only available to gifted students, geniuses or prodigies.
    </p>
    <p>
      Music making helps us get into a <a href="https://en.wikipedia.org/wiki/Flow_(psychology)">flow</a>
      state. You don't need to know anything about Western Music tradition or notation to experience this.
      On the other hand, it is helpful to have a formal understanding of your musical world.
    </p>
    <p>
      Mr. Beeken hopes to ease the "fun gap" that exists between making music and learning about
      music theory using <strong>comedy, laughter and honesty</strong>.
    </p>
  </article>
  <a href='/me'>
    about me
  </a>
</section>
