<h1> Admin Page </h1>

<h2> Courses </h2>

{{#link-to "courses.new"}}
  <button>New Course</button>
{{/link-to}}

<table class='admin-table'>
  {{#each courses as |course|}}
    <tr>
      <td>
        {{#link-to "course" course.id}}
          {{course.title}}
        {{/link-to}}
      </td>
      <td>
        {{#link-to "course.edit" course.id}}
          {{fa-icon "pencil"}}
        {{/link-to}}
      </td>
      <td>
        {{#confirm-dialog}}
          <div {{action "deleteCourse" course.id}} class='admin-delete-link'>
            {{fa-icon "times"}}
          </div>
        {{/confirm-dialog}}
      </td>
    </tr>
  {{/each}}
</table>
