<h1> Admin Page </h1>

<h2> Courses </h2>

{{#link-to "courses.new"}}
  <button>New Course</button>
{{/link-to}}

<table>
  {{#each courses as |course|}}
    <tr>
      <td>
        {{#link-to "course" course.id}}
          {{course.title}}
        {{/link-to}}
      </td>
      <td>
        {{#link-to "course.edit" course.id}}
          <h3>edit</h3>
        {{/link-to}}
      </td>
      <td>
        {{#confirm-dialog}}
          <button {{action "deleteCourse" course.id}}>
            {{fa-icon "times"}}
          </button>
        {{/confirm-dialog}}
      </td>
    </tr>
  {{/each}}
</table>
