{{#liquid-if isMenuActive class='show-menu'}}
  {{component 'nav-menu' dismissMenu='dismissMenu' invalidateSession='invalidateSession'}}
{{/liquid-if}}
{{component 'nav-header' toggleMenu='toggleMenu'}}
<div class='body-space'>
  <div class='main-content'>
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
    {{liquid-outlet}}
  </div>
</div>
