<div class='dashboard'>
  <div class='box dash-my-courses'>
    resume courses
    {{#each enrollments as |enrollment|}}
      {{dashboard/my-course enrollment=enrollment}}
    {{/each}}
  </div>
</div>
