<div class='generic-section'>
  <div class='generic-title'>
    <h1 class='hidden'>Formal</h1>
  </div>
  <section class='schools'>
    <div class='school'>
      <div class='logo'>
        <div class='psu'>
          {{experience-icon path='png/psu.png'}}
        </div>
      </div>
      <div class='time'>
        Spring 2017
      </div>
      <div class='note'>
        MTH 251
      </div>
    </div>
    <div class='school'>
      <div class='logo'>
        <div class='pcc'>
          {{experience-icon path='png/pcc.png'}}
        </div>
      </div>
      <div class='time'>
        Summer - Fall 2016
      </div>
      <div class='note'>
        MTH 111, MTH 112
      </div>
    </div>
    <div class='school'>
      <div class='logo'>
        {{experience-icon path='png/epicodus.png'}}
      </div>
      <div class='time'>
        Winter 2015
      </div>
      <div class='note'>
        Code Bootcamp
      </div>
    </div>
    <div class='school'>
      <div class='logo'>
        {{experience-icon path='png/nau.png'}}
      </div>
      <div class='time'>
        2008 - 2012
      </div>
      <div class='note'>
        B. M. E.
      </div>
    </div>
  </section>
</div>
