<div class='generic-section'>
  <div class='generic-title'>
    <h2 class='surprise'>Formal Schooling</h2>
  </div>
  <section class='schools'>
    <div class='school'>
      <div class='logo'>
        <div class='psu'>
          {{experience-icon path='png/psu.png'}}
        </div>
      </div>
      <div class='school-text'>
        <div class='time'>
          Spring 2017
        </div>
        <div class='note'>
          MTH 251
        </div>
      </div>
    </div>
    <div class='school'>
      <div class='logo'>
        <div class='pcc'>
          {{experience-icon path='png/pcc.png'}}
        </div>
      </div>
      <div class='school-text'>
        <div class='time'>
          Summer - Fall 2016
        </div>
        <div class='note'>
          MTH 111, MTH 112
        </div>
      </div>
    </div>
    <div class='school'>
      <div class='logo'>
        {{experience-icon path='png/epicodus.png'}}
      </div>
      <div class='school-text'>
        <div class='time'>
          Winter 2015
        </div>
        <div class='note'>
          Code Bootcamp
        </div>
      </div>
    </div>
    <div class='school'>
      <div class='logo'>
        {{experience-icon path='png/nau.png'}}
      </div>
      <div class='school-text'>
        <div class='time'>
          2008 - 2012
        </div>
        <div class='note'>
          B. M. E.
        </div>
      </div>
    </div>
  </section>
</div>
