<div class='promo'>
  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Welcome!
      </header>
      <article class='promo-blurb-body'>
        Mr.Beeken is a Youtube channel that aims to teach basic music theory in a fun and practical way.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <video loop='loop' autoplay='autoplay' src='assets/intro.mp4' type='video/mp4'>
        (browser not supported)
      </video>
    </article>
  </article>

  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        It's Edutainment
      </header>
      <article class='promo-blurb-body'>
        Amongst a sea of boring music tutorials, Mr. Beeken’s videos are fun,
        fast paced and jam packed with educational content.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <video loop='loop' autoplay='autoplay' src='assets/teaching.mp4' type='video/mp4'>
        (browser not supported)
      </video>
    </article>
  </article>


  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Used by Teachers
      </header>
      <article class='promo-blurb-body'>
        Teachers are using these videos more and more in their classroom to bring humor to a traditionally difficult subject.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <video loop='loop' autoplay='autoplay' src='assets/solfege.mp4' type='video/mp4'>
        (browser not supported)
      </video>
    </article>
  </article>

  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Safe for Work
      </header>
      <article class='promo-blurb-body'>
        There is no swearing or (inappropriately) dark themes in Mr. Beeken. However, these lessons intended for ages 12 to infinity so expect satire, sarcasm, parody and panache.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <video loop='loop' autoplay='autoplay' src='assets/why.mp4' type='video/mp4'>
        (browser not supported)
      </video>
    </article>
  </article>

  <article class='promo-blurb'>
    <header class='promo-blurb-last'>
      <header class='promo-blurb-title'>
        So what do I do?
      </header>
      <article class='promo-blurb-body'>
        Read articles and behind the scenes info on the <a href='/posts'>news feed</a>.
        <br>
        Find links to all video lessons on the <a href='/videos'>videos page</a>.
        <br>
         <a href='/register'>Sign up</a> and <a href='/login'>login</a> to see more!
      </article>
    </header>
  </article>
</div>
