<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Email</label>
  {{input id='identification' value=identification}}
  <label for="password">Password</label>
  {{input id='password' type='password' value=password}}
  <button type="submit">Login</button>
</form>
{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}

{{#link-to 'register'}}Register{{/link-to}}
