<section class='projects'>
  <div class='selected-project'>
    <div class='left'>
      <a href="http://www.mrbeeken.com">
        {{inline-svg 'svg/main-logo'}}
      </a>
    </div>
    <div class='right'>
      <p>Mr. Beeken is a Youtube channel where I teach music lessons in a goofy way.</p>
    </div>
  </div>

  <div class='project-menu'>
    <div class='item'>
      <a href="http://www.mrbeeken.com">
        {{inline-svg 'svg/main-logo'}}
      </a>
    </div>
  </div>
</section>
